<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Anasayfa</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>

<body>
    <div>
        <h1>Anasayfa</h1>
        <table>
            <tr>
                <td><a href="/yazar"> Yazar İşlemleri</a></th>
            </tr>
            <tr>
                <td><a href="/yayinevi"> Yayınevi İşlemleri</a></th>
            </tr>
            <tr>
                <td><a href="/kitap"> Kitap İşlemleri</a></th>
            </tr>
            <tr>
                <td><a href="/ara"> Arama Yap</a></th>
            </tr>
        </table>
    </div>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>

</html>