<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Anasayfa</title>
</head>

<body>
    <div>
        <h1>Anasayfa</h1>
        <table>
            <tr>
                <td><a href="/yazar"> Yazar İşlemleri</a></th>
            </tr>
            <tr>
                <td><a href="/yayinevi"> Yayınevi İşlemleri</a></th>
            </tr>
            <tr>
                <td><a href="/kitap"> Kitap İşlemleri</a></th>
            </tr>
            <tr>
                <td><a href="/ara"> Arama Yap</a></th>
            </tr>
        </table>
    </div>
</body>

</html>