<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kitap Ekle</title>
</head>

<body>

    <div>
        <h1>Kitap Ekle</h1>
        <br />

        <form action="#" th:action="@{/kitap/yeni}" th:object="${kitap}" method="POST">
            <table>
                <tr>
                    <td>Kitap Adı</td>
                    <td><input type="text" maxlength="25" th:field="*{ad}"
                            oninvalid="this.setCustomValidity('Lütfen doldurunuz')" required></td>
                </tr>
                <tr>
                    <td>Kitap Alt Adı</td>
                    <td><input type="text" maxlength="25" th:field="*{altAdi}" required></td>
                </tr>
                <tr>
                    <td>Kitap Seri Adı</td>
                    <td><input type="text" maxlength="25" th:field="*{seriAdi}" required></td>
                </tr>
                <tr>
                    <td>Yazarlar</td>
                    <td>
                        <select th:field="*{yazar}">
                            <option th:each="yazarr : ${yazarlar}" th:value="${yazarr.id}" th:text="${yazarr.ad}" />
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Yayınevleri</td>
                    <td>
                        <select th:field="*{yayinevi}">
                            <option th:each="yayinevii : ${yayinevleri}" th:value="${yayinevii.id}"
                                th:text="${yayinevii.ad}" />
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>ISBN</td>
                    <td><input type="text" maxlength="13" th:field="*{isbnNumarasi}"
                            oninvalid="this.setCustomValidity('Lütfen doldurunuz')" required></td>
                </tr>
                <tr>
                    <td>Kitap Açıklaması</td>
                    <td><input type="text" maxlength="45" th:field="*{aciklama}"
                            oninvalid="this.setCustomValidity('Lütfen doldurunuz')" required></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Ekle</button>
                    </td>
                </tr>

            </table>
        </form>
    </div>

</body>

</html>