<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Yazar Güncelle</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>

<body>

    <div class="container">
        <div class="form-control col-6 mx-auto">
            <form action="#" th:action="@{/yazar/guncelle}" th:object="${yazar}" method="POST">
                <div class="form-group" hidden>
                    <label for="id">Yazar id</label>
                    <input id="id" type="text" class="form-control" th:field="*{id}" readonly>
                </div>
                <div class="form-group">
                    <label for="ad">Yazar Adı</label>
                    <input id="ad" type="text" class="form-control" th:field="*{ad}">
                    <a th:if="${#fields.hasErrors('ad')}" th:errors="*{ad}">Ad
                        Hatası></a>
                </div>

                <div class="form-group">
                    <label for="aciklama">Yazar Açıklaması</label>
                    <textarea id="aciklama" rows="2" class="form-control" th:field="*{aciklama}"></textarea>
                    <a th:if="${#fields.hasErrors('aciklama')}" th:errors="*{aciklama}">Açıklama
                        Hatası></a>
                </div>

                <button type="submit" class="btn btn-primary">Güncelle</button>
                </td>

            </form>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>

</html>