<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Yazarlar</title>
</head>

<body>

    <div>
        <h1>Yazarlar</h1>
        <table border="1">
            <caption>yazarlar</caption>
            <thead>
                <tr>
                    <th>Yazar id</th>
                    <th>Yazar Adı</th>
                    <th>Yazar Açıklama</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tr th:each="yazar : ${yazarlar}">
                <td th:text="${yazar.id}">Yazar id</td>
                <td th:text="${yazar.ad}">Yazar Adı</td>
                <td th:text="${yazar.aciklama}">Yazar Açıklama</td>
                <td>
                    <a th:href="@{'/yazar/guncelle/' + ${yazar.id}}">Guncelle</a>
                    <a th:href="@{'/yazar/sil/' + ${yazar.id}}">Sil</a>
                </td>
            </tr>
        </table>
        <a href="yazar/ekle"> Yazar Ekle</a>
    </div>

</body>

</html>