<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Yazarlar</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>

<body>

    <div class="container">
        <div class="form-control col-10 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>Yazar id</th>
                        <th>Yazar Adı</th>
                        <th>Yazar Açıklama</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tr th:each="yazar : ${yazarlar}">
                    <td th:text="${yazar.id}">Yazar id</td>
                    <td th:text="${yazar.ad}">Yazar Adı</td>
                    <td th:text="${yazar.aciklama}">Yazar Açıklama</td>
                    <td>
                        <a th:href="@{'/yazar/guncelle/' + ${yazar.id}}">Guncelle</a>
                        <a th:href="@{'/yazar/sil/' + ${yazar.id}}">Sil</a>
                    </td>
                </tr>
            </table>
            <a href="/yazar/ekle"> Yazar Ekle</a>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>

</html>