<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Yazar Ekle</title>
</head>

<body>

    <div>
        <h1>Yazar Ekle</h1>
        <br />

        <form action="#" th:action="@{/yazar/yeni}" th:object="${yazar}" method="POST">
            <table>
                <tr>
                    <td>Yazar Adı</td>
                    <td><input type="text" maxlength="25" th:field="*{ad}"
                            oninvalid="this.setCustomValidity('Lütfen doldurunuz')" required></td>
                </tr>
                <tr>
                    <td>Yazar Açıklaması</td>
                    <td><input type="text" maxlength="45" th:field="*{aciklama}"
                            oninvalid="this.setCustomValidity('Lütfen doldurunuz')" required></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Ekle</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</body>

</html>